tmp.txt
*.iml
.gradle

# Local configuration
local.properties
*.local.properties

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

*.jks
*.keystore
keystore.properties

.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# APK/AAB артефакты
*.apk
*.aab
*.ap_

.kotlin/errors
.kotlin/sessions

app/src/main/assets/*.pt
app/src/main/assets/*.onnx

input*.txt
context*.md

server/*.pt
server/*.pyc

server/debug_output
!server/debug_output/session_20260418_171537_708508

server/__pycache__